.advantages{
    padding: 40px 0px 80px 0px;
    background: var(--secodary-bg-color); 
    @media screen and (min-width:768px){
        padding: 80px 14px 84px 14px;
    }
        @media screen and (min-width:1200px){
        padding: 120px 0px; 
        }
    & .container{
    width: 100%;
    @media screen and (min-width:768px){
        width: 768px; 
        height: 226px;
        margin: 0; 
        margin-left: 16px; 
        padding-right: 193px; 
    }
        @media screen and (min-width:1200px) {
            width: 1200px;
            height: 404px;
            padding-right: 0px;
            margin-left: 30px;
        }
    }
}
.advantages-list__item:not(:last-child){
    margin-bottom: 32px; 
    @media screen and (min-width:768px){
        margin-bottom: 0px; 
    }
}
.advantages-list{
    @media screen and (min-width:768px) {
    display: flex; 
    flex-wrap: nowrap;
    }
}
.advantages-list__item{
@media screen and (min-width:768px){
    flex-basis: calc((100% - 22px) / 3);
    margin-right: 22px;  
}
@media screen and (min-width:1200px) {
    flex-basis: calc(100% / 3 - 106px); 
    margin-right: 106px; 
}
}
.advantages-list__icon-one::before{
    content: "";
    display: inline-block;
    width: 33px;
    height: 50px; 
    &{
        background-image: url(../images/advantages-1.png);
        margin-bottom: 16px; 
        @media screen and (min-width:768px){
            margin-bottom: 36px;
        }
                @media screen and (min-width:1200px) {
                    margin-bottom: 40px;
                }
    }
}
.advantages-list__icon-two::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    & {
        background-image: url(../images/advantages-2.png);
        margin-bottom: 16px;
        @media screen and (min-width:768px) {
                margin-bottom: 36px;
            }
                        @media screen and (min-width:1200px) {
                            margin-bottom: 40px;
                        }
    }
}
.advantages-list__icon-three::before {
    content: "";
    display: inline-block;
    width: 44px;
    height: 50px;
    & {
        background-image: url(../images/advantages-3.png);
        margin-bottom: 16px;
        @media screen and (min-width:768px) {
                margin-bottom: 36px;
            }
                        @media screen and (min-width:1200px) {
                            margin-bottom: 40px;
                        }
    }
}
.advantages-list__title{
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--accent-color);

    margin-bottom: 13px; 
    @media screen and (min-width:768px){
        font-size: 48px;
        line-height: 1.15;
    }
    @media screen and (min-width:1200px) {
        font-size: 58px;
        line-height: 1.14;

        margin-bottom: 16px;
        }
}

.advantages-list__text{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
    
    color: var(--primary-text-color);
    @media screen and (min-width:768px) {
            font-size: 14px;
            line-height: 1.71;
        }
    
        @media screen and (min-width:1200px) {
            font-size: 16px;
            line-height: 1.75; 
        }
}