.advantages-list__item{
    &::before{
        background-image: url();
    }
}
.advantages-list__title{
    font-family: 'Titan One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: var(--accent-color);
}

.advantages-list__text{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    
    color: var(--primary-text-color);
}