.contacts{
    background: #FFF5F6;
}


.contacts-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -20px;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -30px;
    }
    @include desktop{
        display: flex;
        justify-content: center;
        margin-right: -30px;
        
        
    }
   
    
    
}
.contacts-item {
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    padding: 40px 32px;
    border-radius: 24px;
    margin-bottom: 20px;
    max-width: 280px;
    height: 412px;
        @include tablet {
        max-width: 224px;
        height: 538px;
        padding: 40px 32px;
        margin-right: 30px;
        }
        @include desktop{
        max-width: 395px;
        height: 538px;
        padding: 40px;
        margin-right: 30px;
        }
 
}
.contacts-object{
    width: max-content;
    height: 28px;
    padding-left:  16px;
    padding-right: 16px;
    background: #F0D1A5;
    border-radius: 6px;
    text-align: center;font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    color:var(--secondary-text-color);
}
.object-color--green{
    background: #C2E297;
}
.contacts-list__item{
    padding-top: 24px;
    padding-bottom: 24px;
    &:not(:last-child){
    border-bottom: 1px solid #E1E1E1;
    @include tablet {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    
        @include desktop {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
}
.contacts-list__city{
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
        @include tablet {
        font-size: 14px;
        }
        @include desktop{
        font-size: 16px;
        }
    
}
.contacts-list__text{
    max-width: 250px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #907E82;
        @include tablet {
        font-size: 14px;
        line-height: 1.66;
        }
    
        @include desktop {
        font-size: 16px;
        line-height: 1.83;
        }
    
}
.contacts-list__day{
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
        @include tablet {
        font-size: 14px;
        line-height: 1.86;
        }
    
        @include desktop {
        font-size: 16px;
        line-height: 1.86;
        }
}

.contacts__hour{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color:var(--third-text-color);
        @include tablet {
        font-size: 14px;
        line-height: 1.86;
        }
    
        @include desktop {
        font-size: 16px;
        line-height: 1.86;
        }

}
.day--margin{
    margin-bottom: 8px;
        @include tablet {
        margin-bottom: 12px;
        }
    
        @include desktop {
        margin-bottom: 12px;
        }

}
.contacts-list__link{
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #907E82;
    @include tablet {
            font-size: 14px;
            line-height: 1.66;
        }
    
        @include desktop {
            font-size: 16px;
            line-height: 1.83;
        }
}
.contacts-btn{
    display: block;
        align-items: center;
        text-align: center;
        margin-top: 32px;
        @include mobile {
            margin-bottom: -10px;
        }
            
            
   
        @include tablet {
            margin-top: 60px;
            display: flex;
            justify-content: center;
        }
        @include desktop {
            margin-top: 60px;
            display: flex;
            justify-content: center;
        }
}
.contacts-btn__item{
    @include mobile {
            margin-bottom: 10px;
        }
        
        @include tablet {
            margin-right: 15px;
            
        }
        @include desktop {
            margin-right: 15px;
            
        }
    
}

.contacts-btn__button-loc{
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    width: 198px;
    height: 44px;
    color:var(--secondary-text-color);
    background: #D41342;
    border: none;
    border-radius: 22px;
    transition: background-color 280ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background: #C7133E;
        }

}
.contacts-btn__button-far {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    width: 198px;
    height: 44px;
    color: #D41443;
    background: var(--secondary-text-color);
    border: none;
    border-radius: 22px;
    transition: background-color 280ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background: #ECEBEB;
        }

}
