.cust-review {
  padding-bottom: 120px;
}

.cust-review__image {
  margin: 0 auto 32px;
  width: 85px;
  height: 85px;
  opacity: 0.5;
  transform: scale(0.4);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}
.slick-active .cust-review__image {
  opacity: 1;
  transform: scale(1);
}
.review-box__meta {
  width: 100%;
  height: 308px;
  padding-top: 43px;
  background-color: #fafafa;
  position: relative;
  margin: 0 auto 16px;
  @media screen and (min-width: 768px) {
    width: 620px;
    height: 164px;
    padding-top: 37px;
    margin-bottom: 4px;
  }
  @media screen and (min-width: 1280px) {
    width: 1034px;
    height: 138px;
    padding-top: 47px;
  }
}
.review-box__text {
  margin: 0 auto;
  position: relative;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  letter-spacing: 0.04em;
  text-align: center;
  z-index: 1;
  width: 157px;
  background-image: repeating-linear-gradient(#0000, #0000 29px, #e1e1e1 31px);
  transform: translateY(1000px);
  transition: transform 1.5s;
  &::before {
    content: url(/src/images/svg/“.svg);
    position: absolute;
    top: -16px;
    left: -10px;
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    // background-image: url(/src/images/svg/“.svg);
    width: 54px;
    height: 40px;
    z-index: -1;
    @media screen and (min-width: 768px) {
      width: 60.35px;
      height: 40px;
      left: 7px;
    }
    @media screen and (min-width: 1280px) {
      width: 60.35px;
      height: 40px;
      left: -3px;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 2.16;
    width: 608px;
    height: 108px;
    padding-left: 50px;
    padding-right: 40px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.86;
    width: 822px;
    padding: 0 35px;
    height: 75px;
  }
}
.slick-active .review-box__text {
  transform: translateY(0);
  transition: transform 0.5s;
}
.review-box__reviewer {
  padding-top: 24px;
  position: relative;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  text-align: center;
  z-index: 25;
  margin-bottom: 23px;
  margin-top: 16px;
  transform: translateX(1000px);
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 32px;
    padding-top: 24px;
  }
  &::before {
    content: '';
    display: block;
    color: #c7133e;
    position: absolute;
    width: 32px;
    height: 4px;
    top: 0;
    left: 50%;
    z-index: -5;
    transform: translateX(-50%);
    background-image: url(/src/images/svg/dots-1.svg);
  }
}
.slick-active .review-box__reviewer {
  transform: translateX(0);
  transition: transform 1s;
}

// slider
.pagination-box {
  margin: 0 auto;
}
.slick-dots button {
  padding: 0;
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  transition: transform 200ms cubic-bezier(0.19, 0.63, 0.81, 0.36);
  &:hover {
    transform: scale(1.4);
    background-color: var(--third-text-color);
    cursor: pointer;
  }
  &:active {
    background-color: var(--accent-color);
  }
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-active button {
  background-image: url(/src/images/svg/active-pagination.svg);
  border-radius: 0;
  background-color: inherit;
  &:hover {
    background-color: var(--primary-bg-colo);
  }
  &:active {
    background-color: var(--primary-bg-colo);
  }
}
.slick-dots li:not(:last-child) {
  margin-right: 18px;
}
.slider__item {
  overflow: hidden;
}
