.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 37px;
  }
}

.header-menu-list {
  display: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
  }
}

.header-menu-item:not(:last-child) {
  margin-right: 35px;
}

.button-container {
  display: flex;
  align-items: center;
}

.open-menu-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  stroke: var(--accent-color);
  border: none;
  padding: 0;

  &:focus,
  &:hover {
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header-modal-button {
  display: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-color);
  stroke: var(--accent-color);
  background-color: #ffffff;
  border: none;
  transition: background-color 280ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: block;

    width: 160px;
    height: 44px;
    border-radius: 22px;
  }

  &:focus,
  &:hover {
    background-color: #ecebeb;
  }
}

.header-button-icon {
  margin-left: 12px;
}

.header-menu-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--secondary-text-color);
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
    cursor: pointer;
  }
}

// Приховує меню та модальне вікно

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.btn-top {
  position: fixed;
  font-family: 'Titan One';
  font-weight: 400;
  right: 7px;
  top: 5%;
  padding: 10px 0 10px 10px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  z-index: 0;
}

.btn-top-link {
  color: #ffb8ca;
}
