a {
  display: block;
  text-decoration: none;
}
.menu-container {
  position: fixed;
  top: 0;
  right: 0px;
  transform: translateX(0);
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #e17992;
  z-index: 28;

  @media (min-width: 768px) {
    width: 254px;
  }
  @media (min-width: 1280px) {
    display: none;
  }

  &.is-hidden {
    transform: translateX(100%);
  }
  // transform: scaleX(0%);
  // transition: transform $basic-transition;

  // .menu-container {
  //   // transform: translateX(100px);
  //   opacity: 0;
  // }
}

//   .menu-container {
//     display: none;
//   }
//   .close-button {
//     display: none;
//   }
// }
//  mobile-buttoon
.close-button {
  padding: 0;
  display: flex;
  align-items: center;
  width: 14px;
  height: 14px;
  margin: 20px 20px 26px auto;
  background: transparent;
  border: none;
  @media screen and (min-width: 254px) {
    margin-right: 32px;
  }
}
.close-button__icon {
  fill: var(--secondary-text-color);
}

.mobile-button {
  display: block;
  margin: 0 auto 20px;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-color);
  stroke: var(--accent-color);
  background-color: #ffffff;
  border: none;
  @media screen and (min-width: 254px) {
    width: 186px;
  }
}

// mobile-navigation
.mobile-menu {
  margin-top: 20px;
}
.mobile-menu__item {
  border-top: solid 1px #e18298;
  &:last-child {
    border-bottom: solid 1px #e18298;
  }
}
// .mobile-menu__link {
//   font-family: inherit;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.28;
//   color: var(--secondary-text-color);
// }
// .current {
//   color: var(--accent-color);
// }
.mobile-menu__link {
  color: var(--secondary-text-color);
}

.mobile-menu-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  // text-align: start;
  padding-left: 20px;
  background-color: transparent;
  border: none;
}
