.products {
  padding: 80px 0px 40px 0px;
  @media screen and (min-width: 768px) {
    padding: 40px 32px 60px 32px;
  }
  @media screen and (min-width: 1280px) {
    padding: 60px 16px 60px 16px;
  }
  .container {
    max-width: 320px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
    }
  }
}

.products__text {
  font-family: 'Titan One';
  font-weight: 400;
  text-align: center;
  color: var(--third-text-color);
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.17;
  @media screen and (min-width: 768px) {
    margin-bottom: 18px;
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  font-family: 'Titan One';
  text-align: center;
  font-size: 34px;
  line-height: 1.15;
  color: var(--accent-color);
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.products__list {
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-right: -16px;
  }
}

.products__item {
  margin-top: 148px;
  min-width: 280px;
  min-height: 489px;
  border-radius: 24px;
  list-style-type: none;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    min-width: 224px;
    min-height: 473px;
    width: calc(100% / 3 - 64px);
    margin-right: 16px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 395px;
    min-height: 535px;
    width: calc(100% / 3 - 32px);
    margin-right: 32px;
    margin-top: 258px;
  }
}

.products-card {
  position: relative;
}
.products__item--icecream {
  background-color: #ffb8ca;

  &:before {
    content: '';
    position: absolute;
    top: -250px;
    margin-bottom: 32px;
    width: 280px;
    height: 280px;
    top: -140px;
    background-image: url(../images/products-1.png);
    background-repeat: no-repeat;
    background-size: 100%;

    @media screen and (min-width: 320px) {
      width: 280px;
      height: 280px;
      top: -140px;
    }
    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;
      top: 0px;
    }
    @media screen and (min-width: 1280px) {
      width: 394px;
      height: 394px;
    }
  }
}
.products__item--icecoffee {
  background-color: #f0d1a5;
  &:before {
    content: '';
    position: absolute;
    width: 280px;
    height: 280px;
    top: -140px;
    margin-bottom: 32px;
    background-image: url(../images/products-2.png);
    background-repeat: no-repeat;
    background-size: 100%;

    @media screen and (min-width: 320px) {
      width: 280px;
      height: 280px;
      top: -140px;
    }
    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;
      top: 0px;
    }
    @media screen and (min-width: 1280px) {
      width: 394px;
      height: 394px;
    }
  }
}

.products__item--milkshakes {
  background-color: #c2e297;
  &:before {
    content: '';
    position: absolute;
    width: 280px;
    height: 280px;
    top: -140px;
    margin-bottom: 32px;
    background-image: url(../images/products-3.png);
    background-repeat: no-repeat;
    background-size: 100%;

    @media screen and (min-width: 320px) {
      width: 280px;
      height: 280px;
      top: -140px;
      background-image: url(../images/products-mob-3.png);
    }
    @media screen and (min-width: 768px) {
      width: 224px;
      height: 224px;
      top: 0px;
    }
    @media screen and (min-width: 1280px) {
      width: 394px;
      height: 394px;
    }
  }
}

.item__title {
  font-family: 'Titan One';
  padding-top: 160px;
  padding-right: 53px;
  padding-left: 53px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04;
  color: #ffffff;
  &:after {
    content: '';
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 26px;
    height: 6px;
    background-image: url(../images/dots2.svg);
  }
  @media screen and (min-width: 768px) {
    padding-top: 118px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    padding-top: 165px;
  }
}

.item__text {
  font-family: 'DM Sans';
  margin: 32px auto;
  width: 200px;
  height: 124px;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.04;
  color: #ffffff;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 160px;
    height: 150px;
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    width: 245px;
    height: 106px;
    font-size: 16px;
  }
}

.products__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  color: #e5e5e5;
  background-image: url(../images/arrow-right-4.png);
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/arrow-right-4-2x.png);
  }
}
