@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-color: #ffffff;
  font-family: DM Sans, sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

link {
  text-decoration: none;
}

<<<<<<< Updated upstream
.visaully-hidden {
=======
.visually-hidden {
>>>>>>> Stashed changes
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

:root {
  --primary-bg-color: #ffffff;
  --secodary-bg-color: #fff5f6;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --third-text-color: #ffa5ba;
  --fourth-text-color: #907e82;
  --accent-color: #d41443;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .container {
<<<<<<< Updated upstream
    width: 768px;
=======
    max-width: 768px;
>>>>>>> Stashed changes
    padding-right: 18px;
    padding-left: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
<<<<<<< Updated upstream
    width: 1280px;
=======
    max-width: 1280px;
>>>>>>> Stashed changes
    padding-right: 16px;
    padding-left: 16px;
  }
}

<<<<<<< Updated upstream
=======
.header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}
@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header-container {
    padding-top: 37px;
  }
}

.header-menu-list {
  display: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
@media screen and (min-width: 1280px) {
  .header-menu-list {
    display: flex;
    align-items: center;
  }
}

.header-menu-item:not(:last-child) {
  margin-right: 35px;
}

.button-container {
  display: flex;
  align-items: center;
}

.open-menu-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  stroke: var(--accent-color);
  border: none;
  padding: 0;
}
.open-menu-button:focus, .open-menu-button:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .open-menu-button {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .open-menu-button {
    display: none;
  }
}

.header-modal-button {
  display: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--accent-color);
  stroke: var(--accent-color);
  background-color: #ffffff;
  border: none;
}
@media screen and (min-width: 768px) {
  .header-modal-button {
    display: block;
    width: 160px;
    height: 44px;
    border-radius: 22px;
  }
}
.header-modal-button:focus, .header-modal-button:hover {
  background-color: #ecebeb;
  color: var(--accent-color);
}

.header-button-icon {
  margin-left: 12px;
}

.header-menu-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--secondary-text-color);
}
.header-menu-link:focus, .header-menu-link:hover {
  color: var(--accent-color);
  cursor: pointer;
}

.hero {
  width: 100%;
  background-color: #ffb8ca;
}
.hero .container {
  box-sizing: border-box;
  height: 502px;
  padding-top: 194px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero .container {
    height: 416px;
    padding-top: 102px;
  }
}
@media screen and (min-width: 1280px) {
  .hero .container {
    height: 664px;
    padding-top: 146px;
  }
}
.hero__title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  width: 218px;
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.13;
    width: 162px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
    line-height: 1.15;
    width: 277px;
  }
}
.hero__title span {
  font-size: 48px;
  line-height: 0.95;
  text-transform: uppercase;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .hero__title span {
    font-size: 34px;
    line-height: 0.89;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title span {
    font-size: 58px;
    line-height: 0.89;
  }
}

.hero__content {
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero__content {
    padding-right: 18px;
  }
}

.hero-title-wrap {
  position: relative;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .hero-title-wrap {
    position: static;
  }
}

.hero-nav {
  position: relative;
  z-index: 5;
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero-nav {
    position: static;
  }
}

.hero-nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .hero-nav__btn {
    padding-left: 23px;
    padding-right: 23px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}
.hero-nav__btn--red {
  background-color: var(--accent-color);
  color: #ffffff;
  margin-right: 8px;
}
.hero-nav__btn--red:hover, .hero-nav__btn--red:focus {
  background-color: #c7133e;
}
@media screen and (min-width: 1280px) {
  .hero-nav__btn--red {
    margin-right: 12px;
  }
}
.hero-nav__btn--white {
  background-color: #ffffff;
  color: var(--accent-color);
}
.hero-nav__btn--white:hover, .hero-nav__btn--white:focus {
  background-color: #ecebeb;
}

.cafes-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .cafes-list {
    display: unset;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .cafes-list__item {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .cafes-list__text--first {
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    margin-top: 24px;
    margin-bottom: 49px;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .cafes-list__text--first {
    font-size: 14px;
    line-height: 1.28;
    margin-top: 65px;
    margin-bottom: 73px;
  }
}
@media screen and (min-width: 768px) {
  .cafes-list__text--first::before {
    content: "16";
    font-family: "Titan One";
    position: absolute;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    bottom: 8px;
    right: -3px;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .cafes-list__text--first::before {
    font-size: 46px;
    line-height: 1.15;
    bottom: 17px;
  }
}
@media screen and (min-width: 768px) {
  .cafes-list__text--first::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 44px;
    bottom: -14px;
    right: -10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .cafes-list__text--first::after {
    width: 30px;
    height: 30px;
    bottom: 4px;
    right: -15px;
  }
}

@media screen and (min-width: 768px) {
  .cafes-list__text--second {
    width: 75px;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .cafes-list__text--second {
    font-size: 14px;
    line-height: 1.28;
  }
}
@media screen and (min-width: 768px) {
  .cafes-list__text--second::before {
    content: "23";
    font-family: "Titan One";
    position: absolute;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    bottom: 8px;
    right: -3px;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .cafes-list__text--second::before {
    font-size: 46px;
    line-height: 1.15;
    bottom: 17px;
  }
}
@media screen and (min-width: 768px) {
  .cafes-list__text--second::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-bottom: 44px;
    bottom: -14px;
    right: -10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .cafes-list__text--second::after {
    width: 30px;
    height: 30px;
    bottom: 4px;
    right: -15px;
  }
}

.hero-bottom {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-bottom {
    display: block;
    position: relative;
    z-index: 1;
    margin-left: 166px;
    margin-top: 61px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-bottom {
    position: static;
    margin-left: 232px;
    margin-top: 108px;
  }
}
.hero-bottom__text {
  width: 114px;
  font-size: 8px;
  line-height: 150%;
  color: var(--secondary-text-color);
  margin-bottom: 7px;
}
@media screen and (min-width: 1280px) {
  .hero-bottom__text {
    width: 200px;
    font-size: 14px;
    line-height: 1.42;
  }
}
.hero-bottom__btn {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: var(--secondary-text-color);
  background-image: url(../images/arrow-right-tab.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-bottom__btn {
    background-image: url(../images/arrow-right-tab-2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .hero-bottom__btn {
    width: 26px;
    height: 26px;
    background-image: url(../images/arrow-right-pc.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-bottom__btn {
    background-image: url(../images/arrow-right-pc-2x.png);
  }
}

.elipse {
  position: absolute;
  right: 0;
  top: 83;
}
@media screen and (min-width: 768px) {
  .elipse {
    right: 185px;
    top: 43px;
  }
}
@media screen and (min-width: 1280px) {
  .elipse {
    right: 226px;
    top: 53px;
  }
}

.icecream {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 32px;
}
@media screen and (min-width: 768px) {
  .icecream {
    right: 303px;
    bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .icecream {
    right: 405px;
  }
}

.girl {
  display: none;
}
@media screen and (min-width: 768px) {
  .girl {
    display: block;
    position: absolute;
    bottom: 0;
    right: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .girl {
    right: 13px;
  }
}

.milk {
  display: none;
}
@media screen and (min-width: 768px) {
  .milk {
    display: block;
    position: absolute;
    bottom: 16px;
    left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .milk {
    bottom: 61px;
    left: 19px;
  }
}

>>>>>>> Stashed changes
.products {
  padding: 80px 20px 0px 20px;
}
@media screen and (min-width: 768px) {
  .products {
    padding: 40px 32px 60px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    padding: 60px 16px 60px 16px;
  }
}
.products .container {
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .products .container {
<<<<<<< Updated upstream
    width: 768px;
=======
    max-width: 768px;
>>>>>>> Stashed changes
  }
}
@media screen and (min-width: 1280px) {
  .products .container {
<<<<<<< Updated upstream
    width: 1280px;
=======
    max-width: 1280px;
>>>>>>> Stashed changes
  }
}

.products__text {
<<<<<<< Updated upstream
  text-align: center;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 1.13;
  color: #FFA5BA;
}

.products__title {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 58px;
  line-height: 1.14;
  color: #D41443;
}

.products__item {
  width: 280px;
  height: 489px;
  border-radius: 24px;
  list-style-type: none;
}
.products__item:nth-child(1n) {
  background-color: #FFB8CA;
}
.products__item:nth-child(2n) {
  background-color: #F0D1A5;
}
.products__item:nth-child(3n) {
  background-color: #C2E297;
}

.item__title {
  padding-top: 160px;
  padding-right: 53px;
  padding-left: 53px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04%;
  color: #ffffff;
}
.item__title:after {
  content: "";
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 25px;
  height: 6px;
  background-image: url(/images/Group\ 4-min.svg);
}

.item__text {
  margin: 32px auto;
  width: 200px;
=======
  font-family: "Titan One";
  text-align: center;
  color: var(--third-text-color);
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .products__text {
    margin-bottom: 18px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .products__text {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  font-family: "Titan One";
  text-align: center;
  margin-top: 16px;
  margin-bottom: 261px;
  font-size: 34px;
  line-height: 1.15;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 0px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.products__list {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -60px;
    margin-left: -60px;
  }
}

.products__item {
  min-width: 280px;
  min-height: 489px;
  border-radius: 24px;
  list-style-type: none;
  margin-right: 20px;
}
.products__item:nth-child(1) {
  background-color: var --third-text-color;
}
.products__item:nth-child(2) {
  background-color: #F0D1A5;
}
.products__item:nth-child(3) {
  background-color: #C2E297;
}
@media screen and (min-width: 768px) {
  .products__item {
    min-width: 224px;
    min-height: 473px;
    width: calc(33.3333333333% - 64px);
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .products__item {
    min-width: 395px;
    min-height: 535px;
    width: calc(33.3333333333% - 32px);
    margin-right: 32px;
  }
}

.products__item--icecream::before {
  content: "";
  position: absolute;
  margin-bottom: 32px;
  top: 10px;
  background-image: url(../images/products-1.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 320px) {
  .products__item--icecream::before {
    width: 280px;
    height: 280px;
  }
}
@media screen and (min-width: 768px) {
  .products__item--icecream::before {
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 1280px) {
  .products__item--icecream::before {
    width: 394px;
    height: 394px;
  }
}

.products__item--icecoffee::before {
  content: "";
  position: absolute;
  width: 100%;
  margin-bottom: 32px;
  top: 10px;
  background-image: url(../images/products-2.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 320px) {
  .products__item--icecoffee::before {
    height: 280px;
  }
}
@media screen and (min-width: 768px) {
  .products__item--icecoffee::before {
    height: 224px;
  }
}
@media screen and (min-width: 1280px) {
  .products__item--icecoffee::before {
    height: 394px;
  }
}

.products__item--milkshakes::before {
  content: "";
  position: absolute;
  width: 100%;
  margin-bottom: 32px;
  top: 10px;
  background-image: url(../images/products-3.png);
  background-repeat: no-repeat;
}
@media screen and (min-width: 320px) {
  .products__item--milkshakes::before {
    height: 280px;
  }
}
@media screen and (min-width: 768px) {
  .products__item--milkshakes::before {
    height: 224px;
  }
}
@media screen and (min-width: 1280px) {
  .products__item--milkshakes::before {
    height: 394px;
  }
}

.item__title {
  font-family: "Titan One";
  padding-top: 160px;
  padding-right: 53px;
  padding-left: 53px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04%;
  color: var(--primary-bg-color);
}
.item__title:after {
  content: "";
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 25px;
  height: 6px;
  background-image: url(../images/symbol-defs.svg);
}

.item__text {
  font-family: "DM Sans";
  margin: 32px auto;
  width: 200px;
>>>>>>> Stashed changes
  height: 124px;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.04%;
  color: #ffffff;
  text-align: center;
}
<<<<<<< Updated upstream
=======
@media screen and (min-width: 768px) {
  .item__text {
    width: 160px;
    height: 150px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .item__text {
    width: 245px;
    height: 106px;
    font-size: 16px;
  }
}
>>>>>>> Stashed changes

.products__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
<<<<<<< Updated upstream
=======
  margin-bottom: 40px;
>>>>>>> Stashed changes
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  color: #e5e5e5;
<<<<<<< Updated upstream
=======
}
@media screen and (min-width: 1280px) {
  .products__btn {
    margin-bottom: 60px;
  }
}

.advantages {
  padding: 40px 70px 80px 20px;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding: 80px 0px 84px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 120px 0px;
  }
}
.advantages .container {
  width: 100%;
  height: 157px;
}
@media screen and (min-width: 768px) {
  .advantages .container {
    width: 768px;
    height: 226px;
    margin: 0;
    margin-left: 16px;
    padding-right: 193px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages .container {
    width: 1200px;
    height: 404px;
    padding-right: 0px;
    margin-left: 30px;
  }
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .advantages-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list__item {
    flex-basis: calc((100% - 22px) / 3);
    margin-right: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item {
    flex-basis: calc(33.3333333333% - 106px);
    margin-right: 106px;
  }
}

.advantages-list__icon-one::before {
  content: "";
  display: inline-block;
  width: 33px;
  height: 50px;
}
.advantages-list__icon-one::before {
  background-image: url(../images/advantages-1.png);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages-list__icon-one::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__icon-one::before {
    margin-bottom: 40px;
  }
}

.advantages-list__icon-two::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
}
.advantages-list__icon-two::before {
  background-image: url(../images/advantages-2.png);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages-list__icon-two::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__icon-two::before {
    margin-bottom: 40px;
  }
}

.advantages-list__icon-three::before {
  content: "";
  display: inline-block;
  width: 44px;
  height: 50px;
}
.advantages-list__icon-three::before {
  background-image: url(../images/advantages-3.png);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages-list__icon-three::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__icon-three::before {
    margin-bottom: 40px;
  }
}

.advantages-list__title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 13px;
}
@media screen and (min-width: 768px) {
  .advantages-list__title {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__title {
    font-size: 58px;
    line-height: 1.14;
    margin-bottom: 16px;
  }
}

.advantages-list__text {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .advantages-list__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__text {
    font-size: 16px;
    line-height: 1.75;
  }
}

.contacts {
  background: #FFF5F6;
}

.contacts-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -20px;
}
@media screen and (min-width: 768px) {
  .contacts-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-card {
    display: flex;
    justify-content: center;
    margin-right: -30px;
  }
}

.contacts-item {
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 40px 32px;
  border-radius: 24px;
  margin-bottom: 20px;
  max-width: 280px;
  height: 412px;
}
@media screen and (min-width: 768px) {
  .contacts-item {
    max-width: 224px;
    height: 538px;
    padding: 40px 32px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-item {
    max-width: 395px;
    height: 538px;
    padding: 40px;
    margin-right: 30px;
  }
}

.contacts-object {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 28px;
  padding-left: 16px;
  padding-right: 16px;
  background: #F0D1A5;
  border-radius: 6px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
}

.object-color--green {
  background: #C2E297;
}

.contacts-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts-list__item:not(:last-child) {
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .contacts-list__item:not(:last-child) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-list__item:not(:last-child) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-list__city {
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .contacts-list__city {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-list__city {
    font-size: 16px;
  }
}

.contacts-list__text {
  max-width: 250px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .contacts-list__text {
    font-size: 14px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-list__text {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts-list__day {
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .contacts-list__day {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-list__day {
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts__hour {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--third-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__hour {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__hour {
    font-size: 16px;
    line-height: 1.86;
  }
}

.day--margin {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .day--margin {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .day--margin {
    margin-bottom: 12px;
  }
}

.contacts-list__link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .contacts-list__link {
    font-size: 14px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-list__link {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts-btn {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 32px;
}
@media screen and (min-width: 320px) {
  .contacts-btn {
    margin-bottom: -10px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-btn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-btn {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) {
  .contacts-btn__item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-btn__item {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-btn__item {
    margin-right: 15px;
  }
}

.contacts-btn__button-loc {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  width: 198px;
  height: 44px;
  color: var(--secondary-text-color);
  background: #D41342;
  border: none;
  border-radius: 22px;
}

.contacts-btn__button-far {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  width: 198px;
  height: 44px;
  color: #D41443;
  background: var(--secondary-text-color);
  border: none;
  border-radius: 22px;
}

.footer {
  background-color: #fff5f6;
}
.footer__border {
  display: block;
  width: 100%;
  min-width: 320px;
  margin-left: -20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .footer__border {
    min-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .tablet-desktop-box {
    display: flex;
    justify-content: space-between;
  }
}

.desc {
  margin-right: 66px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .desc {
    max-width: 340px;
  }
}
.desc__text {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffa5ba;
}
@media screen and (max-width: 767px) {
  .desc__text {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .desc__text {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
  .desc__text:first-child {
    margin-bottom: 12px;
  }
}
.desc__text--large {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .desc__text--large {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
  }
}

.contacts-box__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}

.contacts-box__text--red {
  color: #d41443;
}

.copyright {
  padding-top: 16px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .copyright {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.copyright__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.02em;
  text-align: center;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .copyright__text {
    line-height: 1.86;
  }
>>>>>>> Stashed changes
}/*# sourceMappingURL=index.css.map */