:root {
  --primary-bg-color: #ffffff;
  --secodary-bg-color: #fff5f6;

  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --third-text-color: #ffa5ba;
  --fourth-text-color: #907e82;

  --accent-color: #d41443;
}
