
<section class="about">
    <div class="container">
        <p class="about__first-tittle">tradition and love</p>
        <h2 class="about__tittle">how it’s made?</h2>
        <div class="about__tab">
            <div class="about__cow">
                <img class="about__img"
                srcset="./images/about-1.png 1x, 
                    ./images/about-1-2x.png 2x" 
                src="./images/about-1.png" alt="cow and milk"
                width="280">
            </div>
            <div class="text__tab">
                <p class="about__description">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about__icecream">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <br>
                <br>
                Aliquam erat volutpat. Aenean accumsan.</p>
                <button type="button" class="about__button">Read more 
                    <svg width="6" height="10" class="about__button__icon">
                    <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
                  </svg>
                </button>
            </div>
        </div>
       
    </div>
</section>
