<section class="about">
    <div class="container">
       <label for="" class="about__first-tittle">tradition and love</label>
       <h2 class="about__tittle">how it’s made?</h2>
       <img 
       srcset="../images/about-1.png 1x, 
               ../images/about-1-2x 2x"
       src="../images/about-1.png" alt="cow and milk">
       <p class="about__description">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
       </p>
       <p class="about__icecream">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.

        Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="about__button">Read more</button>
    </div>
</section>