<section class="cust-review">
  <div class="container">
    <img
      src="/src/images/customer-reviews-1-2x.jpg"
      alt="smiley girl"
      class="cust-review__image"
    />
    <div class="review-box">
      <p class="review-box__meta">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
  </div>
  <div class="slider">
    <p class="slider-box__reviewer">Emily, Los Angeles</p>
    <ul class="slider-box__pagination">
      <li class="pagination-item">
        <svg class="pagination-icon" width="12" height="12">
          <use href="/src/images/symbol-defs.svg#home"></use>
        </svg>
      </li>
      <li class="pagination-item dots"></li>
      <li class="pagination-item dots"></li>
    </ul>
  </div>
</section>
