<section class="gallery ">
    <h2 class="visually-hidden section__title">Gallery</h2>
    <div class="container">
        <ul class="gallery__list">
            <li class="gallery__item">
                <div class="photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery1.png 1x, ./images/gallery/gallery1@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab1.png 1x, ./images/gallery/tab/gallery-tab1@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob1.png 1x, ./images/gallery/mob/gallery-mob1@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob1.png" alt="photo1" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box  ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery2.png 1x, ./images/gallery/gallery2@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab2.png 1x, ./images/gallery/tab/gallery-tab2@2x.png  2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob2.png 1x, ./images/gallery/mob/gallery-mob2@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob2.png" alt="photo2" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery3.png 1x, ./images/gallery/gallery3@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab3.png 1x, ./images/gallery/tab/gallery-tab3@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob3.png 1x, ./images/gallery/mob/gallery-mob3@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob3.png" alt="photo3" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery4.png 1x, ./images/gallery/gallery4@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab4.png 1x, ./images/gallery/tab/gallery-tab4@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob4.png 1x, ./images/gallery/mob/gallery-mob4@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob4.png" alt="photo4" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery5.png 1x, ./images/gallery/gallery5@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab5.png 1x, ./images/gallery/tab/gallery-tab5@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob5.png 1x, ./images/gallery/mob/gallery-mob5@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob5.png" alt="photo5" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery6.png 1x, ./images/gallery/gallery6@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab6.png 1x, ./images/gallery/tab/gallery-tab6@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob6.png 1x, ./images/gallery/mob/gallery-mob6@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob6.png" alt="photo6" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery7.png 1x, ./images/gallery/gallery7@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab7.png 1x, ./images/gallery/tab/gallery-tab7@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob7.png 1x, ./images/gallery/mob/gallery-mob7@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob7.png" alt="photo7" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery8.png 1x, ./images/gallery/gallery8@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab8.png 1x, ./images/gallery/tab/gallery-tab8@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob8.png 1x, ./images/gallery/mob/gallery-mob8@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob8.png" alt="photo8" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class="photo-box">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery9.png 1x, ./images/gallery/gallery9@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab9.png 1x, ./images/gallery/tab/gallery-tab9@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob9.png 1x, ./images/gallery/mob/gallery-mob9@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob9.png" alt="photo9" class="photo-box__image">
                    </picture>
                </div>
            </li>
            <li class="gallery__item">
                <div class=" photo-box ">
                    <picture>
                        <source
                            srcset="./images/gallery/gallery10.png 1x, ./images/gallery/gallery10@2x.png 2x"
                            media="(min-width: 1200px)">
                        <source
                            srcset="./images/gallery/tab/gallery-tab10.png 1x, ./images/gallery/tab/gallery-tab10@2x.png 2x"
                            media="(min-width: 768px)">
                        <source
                            srcset="./images/gallery/mob/gallery-mob10.png 1x, ./images/gallery/mob/gallery-mob10@2x.png 2x"
                            media="(max-width: 767px)">
                        <img src="./images/gallery/mob/gallery-mob10.png" alt="photo10" class="photo-box__image">
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>