<div class="menu-container is-hidden" id="mobile-menu" data-menu>
  <button class="close-button js-close-menu" data-menu-close>
    <svg class="close-button__icon" width="14" height="14">
      <use href="./images/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <button type="button" class="mobile-button" data-mob-modal-open>
    Buy now
    <svg width="6px" height="10px" class="header-button-icon">
      <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
    </svg>
  </button>

  <nav class="mobile-menu">
    <ul class="list mobile-menu__list">
      <li class="mobile-menu__item">
        <button
          onclick="location.href='#header';"
          class="mobile-menu-button"
          data-link1-menu-close
        >
          Home
        </button>
      </li>
      <li class="mobile-menu__item">
        <button
          onclick="location.href='#about';"
          class="mobile-menu-button"
          data-link2-menu-close
        >
          About us
        </button>
      </li>
      <li class="mobile-menu__item">
        <button
          onclick="location.href='#about';"
          class="mobile-menu-button"
          data-link3-menu-close
        >
          How it’s made?
        </button>
      </li>
      <li class="mobile-menu__item">
        <button
          onclick="location.href='#products';"
          class="mobile-menu-button"
          data-link4-menu-close
        >
          Our products
        </button>
      </li>
      <li class="mobile-menu__item">
        <button
          onclick="location.href='#contacts';"
          class="mobile-menu-button"
          data-link5-menu-close
        >
          Contact
        </button>
      </li>
    </ul>
  </nav>
</div>
