<div class="backdrop is-hidden" data-modal data-mob-modal>
  <div class="modal">
    <button type="button" class="button-close-modal" data-modal-close>
      <svg width="18" height="18">
        <use href="./images/symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>
    <p class="modal-title">Make your choice</p>
    <ul class="list modal-list-choose">
      <li class="modal-item">
        <div class="image-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/products-1.png 1x, ./images/products-1-2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products-tab-1.png    1x,
                ./images/products-tab-1-2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products-mob-1.png    1x,
                ./images/products-mob-1-2x.png 2x
              "
            />
            <img
              src="./images/products-1.png"
              alt="ice cream"
              class="modal-item-picture"
            />
          </picture>
        </div>
        <div class="choose-container">
          <p class="modal-choose-title">ice cream</p>
          <button type="button" class="modal-choose-button" data-modal-open>
            choose
          </button>
        </div>
      </li>
      <li class="modal-item">
        <div class="image-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/products-2.png 1x, ./images/products-2-2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products-tab-2.png    1x,
                ./images/products-tab-2-2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products-mob-2.png    1x,
                ./images/products-mob-2-2x.png 2x
              "
            />
            <img
              src="./images/products-2.png"
              alt="ice coffee"
              class="modal-item-picture"
            />
          </picture>
        </div>
        <div class="choose-container">
          <p class="modal-choose-title">ice coffee</p>
          <button type="button" class="modal-choose-button" data-modal-open>
            choose
          </button>
        </div>
      </li>
      <li class="modal-item">
        <div class="image-container">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./images/products-3.png 1x, ./images/products-3-2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/products-tab-3.png    1x,
                ./images/products-tab-3-2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products-mob-3.png    1x,
                ./images/products-mob-3-2x.png 2x
              "
            />
            <img
              src="./images/products-3.png"
              alt="milkshakes"
              class="modal-item-picture"
            />
          </picture>
        </div>
        <div class="choose-container">
          <p class="modal-choose-title">milkshakes</p>
          <button type="button" class="modal-choose-button" data-modal-open>
            choose
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- </symbol><symbol id="icon-close-black" viewBox="0 0 32 32"><path d="m26.667 7.303-1.97-1.97-7.808 7.808-7.808-7.808-1.97 1.97 7.808 7.808-7.808 7.808 1.97 1.97 7.808-7.808 7.808 7.808 1.97-1.97-7.808-7.808 7.808-7.808z"/></symbol> -->
