<div class="about-backdrop is-hidden" data-about-modal>
  <div class="about-modal">
    <button type="button" class="about-modal__close" data-about-modal-close>
      X
      <svg class="close-about-modal__icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <div class="about-modal__gallery">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="./images/about-mob-1.png 1x, ./images/about-mob-1-2x.png 2x"
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="./images/about-tab-1.png 1x, ./images/about-tab-1-2x.png 2x"
        />
        <source
          media="(min-width: 1280px)"
          srcset="./images/about-1.png 1x, ./images/about-1-2x.png 2x"
        />
        <img src="./images/about-1.png" alt="cow" />
      </picture>

      <button
        type="button"
        class="about-modal__more"
        data-about-modal-more-open
      >
        0
      </button>

      <h2 class="about-modal__title">Your best choice</h2>
      <p class="about-modal__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper,
        justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis
        nibh risus vel metus.
      </p>
    </div>

    <div class="about-modal__gallery">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/products-mob-2.png    1x,
            ./images/products-mob-2-2x.png 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            ./images/products-tab-2.png    1x,
            ./images/products-tab-2-2x.png 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="./images/products-2.png 1x, ./images/products-2-2x.png 2x"
        />
        <img src="./images/products-2.png" alt="icecream" />
      </picture>

      <h2 class="about-modal__title">Hello summer</h2>
      <p class="about-modal__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper,
        justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis
        nibh risus vel metus.
      </p>
    </div>
    <div class="about-modal__gallery">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero-header-3.png    1x,
            ./images/hero-header-3-2x.png 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            ./images/hero-header-3.png    1x,
            ./images/hero-header-3-2x.png 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero-header-3.png    1x,
            ./images/hero-header-3-2x.png 2x
          "
        />
        <img src="./images/hero-header-3.png" alt="woman" />
      </picture>

      <h2 class="about-modal__title">Stay cool</h2>
      <p class="about-modal__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper,
        justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis
        nibh risus vel metus.
      </p>
    </div>
  </div>

  <div class="madal-backdrop is-hidden" data-about-modal-more>
    <div class="modal-backdrop__modal">
      <div class="modal-card">
        <h2 class="about-modal__title">Your best choice</h2>
        <p class="about-modal__text full">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper,
          justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis
          nibh risus vel metus.Fusce ut velit laoreet, tempus arcu eu, molestie
          tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
          Maecenas eleifend erat at justo fringilla.Fusce ut velit laoreet,
          tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
          eget, egestas eros. Maecenas eleifend erat at justo fringilla. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Ut semper, justo
          eget vehicula vestibulum, enim enim suscipit lectus, et sagittis nibh
          risus vel metus.Fusce ut velit laoreet, tempus arcu eu, molestie
          tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
          Maecenas eleifend erat at justo fringilla.Fusce ut velit laoreet,
          tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
          eget, egestas eros. Maecenas eleifend erat at justo fringilla. <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper,
          justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis
          nibh risus vel metus.Fusce ut velit laoreet, tempus arcu eu, molestie
          tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
        </p>
      </div>
      <div class="modal-card">
        <h2 class="about-modal__title">Hello summer</h2>
        <p class="about-modal__text full">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper,
          justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis
          nibh risus vel metus.Fusce ut velit laoreet, tempus arcu eu, molestie
          tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
          Maecenas eleifend erat at justo fringilla.Fusce ut velit laoreet,
          tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
          eget, egestas eros. Maecenas eleifend erat at justo fringilla. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Ut semper, justo
          eget vehicula vestibulum, enim enim suscipit lectus, et sagittis nibh
          risus vel metus.Fusce ut velit laoreet, tempus arcu eu, molestie
          tortor.
        </p>
      </div>

      <div class="modal-card">
        <h2 class="about-modal__title">Stay cool</h2>
        <p class="about-modal__text full">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper,
          justo eget vehicula vestibulum, enim enim suscipit lectus, et sagittis
          nibh risus vel metus.Fusce ut velit laoreet, tempus arcu eu, molestie
          tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
          Maecenas eleifend erat at justo fringilla.Fusce ut velit laoreet,
          tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
          eget, egestas eros. Maecenas eleifend erat at justo fringilla. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Ut semper, justo
          eget vehicula vestibulum, enim enim suscipit lectus, et sagittis nibh
          risus vel metus.Fusce ut velit laoreet, tempus arcu eu, molestie
          tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
          Maecenas eleifend erat at justo fringilla.Fusce ut velit laoreet,
          tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
          eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
      </div>

      <picture class="modal-img">
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/products-mob-1.png    1x,
            ./images/products-mob-1-2x.png 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            ./images/products-tab-1.png    1x,
            ./images/products-tab-1-2x.png 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="./images/products-1.png 1x, ./images/products-1-2x.png 2x"
        />
        <img src="./images/products-1.png" alt="icecream" />
      </picture>

      <button
        type="button"
        class="close-modal-backdrop__modal"
        data-about-modal-more-close
      ></button>
    </div>
  </div>
</div>
