<section class="products">
    <div class="container">
       <p class="products__text">100% natural</p>
       <h2 class="products__title">Products</h2>
       <div class="container">
       <ul class="products__list">
        <div class="products-card">
           <li class="products__item products__item--icecream">
            
               <h2 class="item__title">Ice cream</h2>
               <p class="item__text">Lorem ipsum dolor sit amet, consectetur 
                   adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>
                <button type="button" class="products__btn">
                    <svg class="btn-vector" width="40" height="40"  >
                        <use href="../images/arrow-right 4-min.svg#b"></use>
                    </svg> 
                </button>
           </li>
        </div> 

        <div class="products-card">
            <li class="products__item products__item--icecoffee">
             
                <h2 class="item__title">Ice coffee</h2>
                <p class="item__text">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                 </p>
                 <button type="button" class="products__btn">
                     <svg class="btn-vector" width="40" height="40"  >
                         <use href="../images/arrow-right 4-min.svg#b"></use>
                     </svg> 
                 </button>
            </li>
         </div> 
        
         <div class="products-card">
            <li class="products__item products__item--milkshakes">
             
                <h2 class="item__title">Milkshakes</h2>
                <p class="item__text">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                 </p>
                 <button type="button" class="products__btn">
                     <svg class="btn-vector" width="40" height="40"  >
                         <use href="../images/arrow-right 4-min.svg#b"></use>
                     </svg> 
                 </button>
            </li>
         </div> 
      
    
    </ul>
</div>
    </div>
   </section>